html {
    scroll-behavior: smooth;
    background-color: #FDD;
}

.categories {
    background-color: #FFDDFF;
    width: 100%;
}

.categories a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.categories p {
    text-transform: uppercase;
}

.top {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.bottom {
    position: fixed;
    bottom: 20px;
    right: 30px;
}

.categories a:hover {
    background-color: #E8F5EC;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #1976D2;
    text-align: left;
    padding: 8px;
}

tr {
    color: #1976D2;
}

tr:nth-child(even) {
    background-color: #E8F5EC;
}

caption {
    font-size: 20px;
}

input {
    border: 2px solid #1976D2;
    border-radius: 4px;
}

aside {
    margin-top: 10px;
    padding: 15px 30px;
    background-color: #F6F6F6;
    border-radius: 15px;
    max-width: 20%;
    float: left;
}

aside ol {
    color: #1976D2;
    font-size: large;
}

aside li {
    padding: 8px 0 8px 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

a:hover {
    text-decoration: underline;
}

main {
    float: left;
    width: 70%;
    text-align: center;
}

fieldset {
    width: 400px;
    margin: auto;
    border-radius: 15px;
}

button {
    border: 2px solid #1976D2;
    border-radius: 4px;
}