html {
    scroll-behavior: smooth;
    background-color: #FDD;
}

.categories {
    background-color: #FDD;
}

.categories a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top {
    overflow: hidden;
    position: sticky;
    top: 0;
    margin: 15px;
}

.bottom {
    position: fixed;
    bottom: 20px;
    right: 30px;
}

.categories a:hover {
    background-color: #E8F5EC;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #1976D2;
    text-align: left;
    padding: 8px;
}

tr {
    color: #1976D2;
}

tr:nth-child(even) {
    background-color: #E8F5EC;
}
